*{
    margin: 0;
    padding: 0;
    font-family: 'arial',cursive;
}

body{
    background: url('../img/bgfull5.jpeg')no-repeat;
    background-size: cover;
    color: #fff !important;
    height: 100vh;
}
.dark-overlay{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.header-area{
    margin-top: 0.5rem;
}

header img{
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.header-text{
    position: fixed;
    top: 2rem;
    left: 5rem;
}

.navbar-nav{
    margin-right: 8px;
}
.navbar-nav .nav-item{
    padding: 12px;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
}

/********    perfect page    *********/
.perfect-page{
    margin-top: 90px;
}
.perfect-page h1{
    font-size: 65px;
    letter-spacing: 5px;
}
.perfect-page h1:after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 1px;
    margin: 25px auto;
}
.btn{
    border-radius: 0%;
    padding: 10px 30px;
    font-weight: 600;
    margin: 20px;
}
.btn:hover{
    color: black;
    background-color: #777;
    transition: ease 1s;
}

.col{
    width: 40px;
    z-index: 1;
    border: 1px solid #fff;
    padding: 6px 10px; 
    cursor: pointer;
    border-radius: 0%;
    margin-left: 24px;
    transform: translateY(-550%);
}
.col:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(9, 9, 10);
    transition: ease 1s;
}
/********* footer ************/

.copy-right{
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 96%;
}

highlight{
    background-color: #fff;
    color: #0e0e0ebc;
    padding: 2px;
}

.social-items{
    position: absolute;
    left: 73%;
    top: 93%;
}
.social-items ul{
    list-style-type: none;
}
.social-items ul li{
    font-size: 17px;
   display: inline-block;
   padding: 18px;
}
