/*#home{
    background:url('../img/bgfull5.jpeg') no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
    background-size:cover;
    color: #fff !important;
    margin: 0;
    padding: 0;
}

.dark-overlay{
    background: linear-gradient(90deg, rgb(3, 55, 133), rgb(133, 36, 185));
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.container{
    margin: 10px;
    height: 50%;
    width: 50%;
}


#element{
    display: flex;
}

.col{
 
    border: 1px solid #fff;
    padding: 6px 10px; 
    cursor: pointer;
    border-radius: 0%;
    margin: 0;
    width: 75px;
    position: relative;
    top: 200px;
    left: 14px;
}

.col:hover{
    background-color: white;
    color: rgb(3, 55, 133);
    transition: ease 1s;
}


.display-4{
    font-family: 'Lucida Sans', 'Lucida Sans bold', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    letter-spacing: 5px;
}

.card-left-col{
    background-color: #fff;
    color: #000000;
    padding: 110px;
    width: 300px;
    height: 120px;
    position: relative;
    left: -185px;
    top: 33px;
    z-index: 2;
}

.card-right-col{
    position: relative;
    top: -200px;
    right: -80px;
}


.card-img{
    outline: 1px solid white;
    outline-offset: -17px;
    cursor: pointer;
    border-bottom: 0px;
    height: 250px;
    width: 350px;
}

#carouselExampleControls{
    width: 90%;
    position: absolute;
    left: 110px;
    top: 20px;
}

.carousel-item{
    position: relative;
    top: 140px;
    left: 400px;
    
}*/

*{
    margin: 0;
    padding: 0;
}

body{
    background: url('../img/bgfull6.jpg')no-repeat;
    background-size: cover;
    color: #fff !important;
    height: 100vh;

}

.dark-overlay{
    background: linear-gradient(90deg, rgb(3, 55, 133), rgb(133, 36, 185));
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}


.header-area{
    margin-top: 0.5rem;
}

header img{
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.header-text{
    position: fixed;
    top: 2rem;
    left: 5rem;
}

.navbar-nav{
    margin-right: 8px;
}
.navbar-nav .nav-item{
    padding: 12px;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
}


.col{
    border: 1px solid #fff;
    padding: 6px 10px; 
    cursor: pointer;
    border-radius: 0%;
    margin: 0;
    width: 40px;
    position: relative;
    top: -280px;
    left: 18px;
}

.col:hover{
    background-color: white;
    color: rgb(3, 55, 133);
    transition: ease 1s;
}

/********* footer ************/

.copy-right{
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 96%;
}

highlight{
    background-color: #fff;
    color: #0e0e0ebc;
    padding: 2px;
}

.social-items{
    position: absolute;
    left: 73%;
    top: 93%;
}
.social-items ul{
    list-style-type: none;
}
.social-items ul li{
    font-size: 17px;
   display: inline-block;
   padding: 18px;
}

/***********************************************/

.carousel{
    margin: 80px 60px 60px 60px;
}




/*.carousel-inner img{
    padding: 0 300px;
    margin-top: -213px;
    margin-left: 200px;
    height: 230px;
    z-index: -1;
}
.carousel-inner .card-img{
    outline: 1px solid white;
    outline-offset: -17px;
    cursor: pointer;
    border-bottom: 0px;
}*/
.carousel-inner .card-body{
    background-color: #fff;
    color: black;
    margin-left: 195px;
    margin-top: 40px;
    width: 310px;
    height: 205px;
    text-align: center;
    padding-top: 60px;
}

.card-img{
    outline: 1px solid white;
    outline-offset: -17px;
    cursor: pointer;
    border-bottom: 0px;
    height: 250px;
    width: 350px;
    margin-top: -230px;
    margin-left: 510px;
}

.carousel-item .card-title{
    letter-spacing: 2px;
}

.carousel-item .card-title, .card-text{
    text-transform: uppercase;
    font-weight: bold;
}

