*{
    margin: 0;
    padding: 0;
}

body{
    background: url('../img/bgfull.jpeg')no-repeat;
    background-size: cover;
    color: #fff !important;
    height: 100vh;

}

.dark-overlay{
    background: linear-gradient(90deg, rgb(3, 55, 133), rgb(133, 36, 185));
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}


.header-area{
    margin-top: 0.5rem;
}

header img{
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.header-text{
    position: fixed;
    top: 2rem;
    left: 5rem;
}

.navbar-nav{
    margin-right: 8px;
}
.navbar-nav .nav-item{
    padding: 12px;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
}


.col{
    border: 1px solid #fff;
    padding: 6px 10px; 
    cursor: pointer;
    border-radius: 0%;
    margin: 0;
    width: 40px;
    position: relative;
    top: -740px;
    left: 14px;
}

.col:hover{
    background-color: white;
    color: rgb(3, 55, 133);
    transition: ease 1s;
}

/********* footer ************/

.copy-right{
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 96%;
}

highlight{
    background-color: #fff;
    color: #0e0e0ebc;
    padding: 2px;
}

.social-items{
    position: absolute;
    left: 73%;
    top: 93%;
}
.social-items ul{
    list-style-type: none;
}
.social-items ul li{
    font-size: 17px;
   display: inline-block;
   padding: 18px;
}

/***********************************************/

.perfect-page{
    margin-top: 60px;
    margin-left: 80px;
}
.perfect-page h1{
    font-size: 70px;
    letter-spacing: 3px;
}
.perfect-page p{
    margin: -145px 45px;
}
.btn{
    border-radius: 0%;
    padding: 12px 26px;
    margin: 190px 45px;
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 55, 133);
    transition: ease-in 2s;
}

.perfect-page h4:after{
    content: '';
    background: white;
    display: block;
    width: 1px;
    height: 130px;
    margin-top: 40px;
}

.day-time{
    position: relative;
    top: -240px;
    left: 0px;
}

.day-time h5{
    margin-top: -190px;
    margin-right: 46px;
    font-size: 30px;
}
.day-time .btn{
    margin-top: 280px;
}

@media only screen and (max-width: 770px){
    .day-time{
        margin-top: 160px;
    }
}

@media only screen and (max-width:970px){
    .day-time{
        position: relative;
        top: -70px;
        left: 0px;
    }
    .day-time .btn{
        margin-top: 180px;
    }
}