/*#home
    background:url('../img/bgfull.jpeg') no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
    background-size:cover;
    color: #fff !important;
    margin: 0;
    padding: 0;
}

.dark-overlay{
    background: linear-gradient(90deg, rgb(3, 55, 133), rgb(133, 36, 185));
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.container{
    margin: 10px;
    height: 50%;
    width: 50%;
}

 .nav-link{
    color: #fff;
}


#element{
    display: flex;
}

.col{
 
    border: 1px solid #fff;
    padding: 6px 10px; 
    cursor: pointer;
    border-radius: 0%;
    margin: 0;
    width: 75px;
    position: relative;
    top: -390px;
    left: 14px;
}

.col:hover{
    background-color: white;
    color: rgb(3, 55, 133);
    transition: ease 1s;
}

.head-title{
    font-weight: 900;
    font-stretch: condensed;
    letter-spacing: 2px;
    margin-top: 40px;
}

.brand-area{
    padding: 2rem 4rem;
}

.card{
    margin: 30px;
    border: 0px;
    border-radius: 0%;
    outline: 1px solid white;
    outline-offset: -12px;
    cursor: pointer;
    opacity: 1;
    
}

.card-img-overlay{
    text-align: center;
    margin-top: 80px;
    z-index: 1;
    color: white;
}

.card-title{
    text-transform: uppercase;
}
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background: url('../img/bgfull6.jpg')no-repeat;
    background-size: cover;
    color: #fff !important;
    height: 100vh;

}

.dark-overlay{
    background: linear-gradient(90deg, rgb(3, 55, 133), rgb(133, 36, 185));
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}


.header-area{
    margin-top: 0.5rem;
}

header img{
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.header-text{
    position: fixed;
    top: 2rem;
    left: 5rem;
}

.navbar-nav{
    margin-right: 8px;
}
.navbar-nav .nav-item{
    padding: 12px;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
}


.col{
    border: 1px solid #fff;
    padding: 6px 10px; 
    cursor: pointer;
    border-radius: 0%;
    margin: 0;
    width: 40px;
    position: relative;
    top: -380px;
    left: 14px;
}

.col:hover{
    background-color: white;
    color: rgb(3, 55, 133);
    transition: ease 1s;
}

/********* footer ************/

.copy-right{
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 96%;
}

highlight{
    background-color: #fff;
    color: #0e0e0ebc;
    padding: 2px;
}

.social-items{
    position: absolute;
    left: 73%;
    top: 93%;
}
.social-items ul{
    list-style-type: none;
}
.social-items ul li{
    font-size: 17px;
   display: inline-block;
   padding: 18px;
}

/***********************************************/

.head-title{
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: -40px;
}

.brand-area{
    margin: 0 20px;
    padding: 1rem 4rem;
}

.card{
    margin: 10px;
    border: 0px;
    border-radius: 0%;
    outline: 1px solid white;
    outline-offset: -12px;
    cursor: pointer;
    opacity: 1;
}

.card-img-overlay{
    text-align: center;
    margin-top: 60px;
    z-index: 1;
    color: white;
}

.card-title{
    text-transform: uppercase;
}

.card img{
  
}